/* Import IranSansX */
@font-face {
    font-family: IranSansX;
    font-style: normal;
    font-weight: 500;
    src: url('./woff/PeydaWeb-Medium.woff') format('woff'),
    url('./woff2/PeydaWeb-Medium.woff2') format('woff2');
}








